repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1a1f58ba4c35362efe8fed2279715a905baee93d  # frozen: v0.14.8
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/crate-ci/typos
    rev: 24c5854966d17070a3b25e2c2dfc63ec5bc94cf4  # frozen: v1.40.0
    hooks:
      - id: typos
